[Desktop Entry]
X-SnapInstanceName=fbreader
Version=1.0
Name=Knot Editor
Name[ru]=Редактор узлов
Exec=/home/geometer/src/KnotEditor/build/modules/qt/KnotEditor %F
Terminal=false
Type=Application
Icon=/home/geometer/src/KnotEditor/modules/qt/res/images/trefoil.png
Categories=Math;
StartupWMClass=knoteditor
Keywords=math;knot;diagram;
Actions=OpenLibrary;

[Desktop Action OpenLibrary]
Name=Open the Library
Name[ru]=Открыть библиотеку
Exec=/home/geometer/src/KnotEditor/build/modules/qt/KnotEditor -L
